body{
  background-color: #001a33;
}

h1{
  font-family: 'Oswald', sans-serif;
  color: white;
}

#calcOutput{
  background-color: white;
  width: 250px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  padding-top: 10px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

#calculator{
  background-color: #132639;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

#steps{
  padding-left: 40px;
  font-size: 1.5em;
}

#total{
  width: 100px;
}

button{
  margin: 5px;
  height: 2.6vw;
  width: 2.6vw;
}